@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 88 40% 96%;
    --foreground: 90 10% 20%;
    --card: 88 40% 96%;
    --card-foreground: 90 10% 20%;
    --popover: 88 40% 96%;
    --popover-foreground: 90 10% 20%;
    --primary: 90 35% 55%;
    --primary-foreground: 90 25% 10%;
    --secondary: 90 25% 90%;
    --secondary-foreground: 90 10% 20%;
    --muted: 90 25% 90%;
    --muted-foreground: 90 10% 40%;
    --accent: 90 30% 80%;
    --accent-foreground: 90 25% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 90 20% 88%;
    --input: 90 20% 88%;
    --ring: 90 35% 55%;
    --chart-1: 90 40% 50%;
    --chart-2: 90 35% 40%;
    --chart-3: 90 30% 30%;
    --chart-4: 90 45% 60%;
    --chart-5: 90 50% 65%;
    --radius: 0.8rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 90 10% 10%;
    --foreground: 90 10% 95%;
    --card: 90 10% 12%;
    --card-foreground: 90 10% 95%;
    --popover: 90 10% 10%;
    --popover-foreground: 90 10% 95%;
    --primary: 90 35% 55%;
    --primary-foreground: 90 25% 10%;
    --secondary: 90 10% 20%;
    --secondary-foreground: 90 10% 95%;
    --muted: 90 10% 20%;
    --muted-foreground: 90 10% 85%;
    --accent: 90 30% 80%;
    --accent-foreground: 90 25% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 90 10% 20%;
    --input: 90 10% 20%;
    --ring: 90 35% 55%;
    --chart-1: 90 40% 50%;
    --chart-2: 90 35% 40%;
    --chart-3: 90 30% 30%;
    --chart-4: 90 45% 60%;
    --chart-5: 90 50% 65%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
